.view-example

    &__button
        margin: 2rem
        background-image: embedurl('sv-next-h.png')

.icon
    display: inline-block
    overflow: hidden
    fill: tomato
    transition: fill $tEffect

    &:hover
        fill: blue

    &__cnt
        width: 100%
        height: 100%
        fill: inherit
        background inherit
