doctype html
html.no-js
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")

        block head
        title #{pageTitle}

        link(href="../img/favicon.ico" rel="SHORTCUT ICON" type="image/ico")
        link(href="../img/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed")
        link(href="../img/apple-touch-icon.png" rel="apple-touch-icon")

        meta(property="og:type" content="website")
        meta(property="og:url" content="http://exwar.com/")
        meta(property="og:title" content="Template")

        link(href="/assets/css/app.css" rel="stylesheet" media="all")
        script(src="/assets/js/modernizr.js")

    body
        include ../symbols/_symbols.svg

        block body

        script(src="/assets/js/app.js")

