.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../_symbols.svg");
    background-repeat: no-repeat;
    background-size: 4.6em 13.5em;
}

.no-svg .icon:before {
    background-image: url("../_symbols.png");
}

.icon.santa:before {
    background-position: 0em 0em;
    width: 3.6em;
    height: 4.6em;
}

.icon.teddy:before {
    background-position: 0em -4.6em;
    width: 4.4em;
    height: 4.6em;
}

.icon.wine:before {
    background-position: 0em -9.2em;
    width: 4.6em;
    height: 4.3em;
}

