extend _layouts/main

block head
    - var pageTitle = 'Start | Template';

block body
    div.view-example.js-view-example
        button.view-example__button.js-view-example-button Click me!

    .icon
        svg.icon__cnt
            use(xlink:href="#teddy")