/* Style reset & normalise
 * ------------------------------------------------ */

HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME,
H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE,
A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE,
DEL, DFN, EM, IMG, INS, KBD, Q, S, SAMP,
SMALL, STRIKE, STRONG, SUB, SUP, TT, VAR,
B, U, I, CENTER,
DL, DT, DD, OL, UL, LI,
FIELDSET, FORM, LABEL, LEGEND,
TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD,
ARTICLE, ASIDE, CANVAS, DETAILS, EMBED,
FIGURE, FIGCAPTION, FOOTER, HEADER, HGROUP,
MENU, NAV, OUTPUT, RUBY, SECTION, SUMMARY,
TIME, MARK, AUDIO, VIDEO
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline

ARTICLE, ASIDE, DETAILS, FIGCAPTION, FIGURE,
FOOTER, HEADER, HGROUP, MENU, NAV, SECTION
    display: block

EM
    font-style: normal


/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

AUDIO,
CANVAS,
VIDEO
    display: inline-block

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

AUDIO:not([controls])
    display: none
    height: 0

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
TEMPLATE
    display: none


/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

HTML
    overflow-y: scroll
    font-family: sans-serif /* 1 */
    -ms-text-size-adjust: 100% /* 2 */
    -webkit-text-size-adjust: 100% /* 2 */


/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

A
    background: transparent


/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

A:active,
A:hover,
A:focus
    outline: 0


/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

ABBR[title]
    border-bottom: .1rem dotted


/**
 * Address styling not present in Safari 5 and Chrome.
 */

DFN
    font-style: italic


/**
 * Address differences between Firefox and other browsers.
 */

HR
    -moz-box-sizing: content-box
    box-sizing: content-box
    height: 0


/**
 * Address styling not present in IE 8/9.
 */

MARK
    background: #ff0
    color: #000


/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

CODE,
KBD,
PRE,
SAMP
    font-family: monospace, serif
    font-size: 1em


/**
 * Improve readability of pre-formatted text in all browsers.
 */

PRE
    white-space: pre-wrap


/**
 * Set consistent quote types.
 */

Q
    quotes: "\201C" "\201D" "\2018" "\2019"


/**
 * Address inconsistent and variable font size in all browsers.
 */

SMALL
    font-size: 80%


/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

SUB,
SUP
    font-size: 75%
    line-height: 0
    position: relative
    vertical-align: baseline

SUP
    top: -0.5em

SUB
    bottom: -0.25em


/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

IMG
    border: 0

/**
 * Correct overflow displayed oddly in IE 9.
 */

SVG:not(:root)
    overflow: hidden

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

BUTTON,
INPUT,
SELECT,
TEXTAREA
    font-family: inherit /* 1 */
    font-size: 100% /* 2 */
    margin: 0 /* 3 */

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

BUTTON,
INPUT
    line-height: normal

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

BUTTON,
SELECT
    text-transform: none

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

BUTTON,
HTML INPUT[type="button"], /* 1 */
INPUT[type="reset"],
INPUT[type="submit"]
    -webkit-appearance: button /* 2 */
    cursor: pointer /* 3 */

/**
 * Re-set default cursor for disabled elements.
 */

BUTTON[disabled],
HTML INPUT[disabled]
    cursor: default

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

INPUT[type="checkbox"],
INPUT[type="radio"]
    box-sizing: border-box /* 1 */
    padding: 0 /* 2 */

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

INPUT[type="search"]
    -webkit-appearance: textfield /* 1 */
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box /* 2 */
    box-sizing: content-box

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

INPUT[type="search"]::-webkit-search-cancel-button,
INPUT[type="search"]::-webkit-search-decoration
    -webkit-appearance: none

/**
 * Remove inner padding and border in Firefox 4+.
 */

BUTTON::-moz-focus-inner,
INPUT::-moz-focus-inner
    border: 0
    padding: 0

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

TEXTAREA
    overflow: auto /* 1 */
    vertical-align: top /* 2 */


/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

TABLE
    border-collapse: collapse
    border-spacing: 0

/* ==========================================================================
   Lists
   ========================================================================== */

/**
 * Remove bullets from all list-items
 */

LI
    list-style: none outside